.container {
    min-width: 672px;
    max-width: 1024px;
    background-image: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg);
    background-size: cover;
    background-position: center;
}

.keys {
    display: flex;
    min-height: 400px;
    align-items: center;
    justify-content: space-evenly;
}

.key {
    flex: 1 0 auto;
    margin: 0 4px;
    display: flex;
    flex-direction: column;

    border: 5px solid black;
    border-radius: 5px;

    padding: 10px 10px;
    transition: all 0.07s ease;
    text-align: center;
    color: white;
    background: rgba(160, 160, 160, 0.4);
    text-shadow: 0 0 10px black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: xx-large;
}

.sound {
    font-size: medium;
    text-transform: uppercase;
    color: #ffc600;
}
